<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Person Image Identifier</h1>
        </header>
        
        <h2>Verify OTP</h2>
        <form method="post" action="/verify_otp" class="form">
            <label for="otp" class="label">Enter OTP:</label>
            <input type="text" name="otp" id="otp" class="input" required><br>
            
            <input type="submit" value="Verify OTP" class="button">
        </form>

        <!-- Error message handling -->
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p class="flash-message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
